# lists

In [1]:
lst=[25,40,50.5,'aditi','tanisha']

In [2]:
lst

[25, 40, 50.5, 'aditi', 'tanisha']

In [3]:
lst.append('nikhil')

In [4]:
lst

[25, 40, 50.5, 'aditi', 'tanisha', 'nikhil']

In [5]:
lst.copy()

[25, 40, 50.5, 'aditi', 'tanisha', 'nikhil']

In [6]:
lst.count(40)

1

In [10]:
lst.pop(5)

'nikhil'

In [11]:
lst.remove('tanisha')

In [12]:
lst

[25, 40, 50.5, 'aditi']

# dictionary

In [13]:
dit={1:'aditi',2:'tanisha',3:'priya',4:'shaili'}

In [14]:
dit

{1: 'aditi', 2: 'tanisha', 3: 'priya', 4: 'shaili'}

In [15]:
dit.get(3)

'priya'

In [16]:
dit.pop(4)

'shaili'

In [17]:
b={5:'nikhil'}
dit.update(b)

In [18]:
dit

{1: 'aditi', 2: 'tanisha', 3: 'priya', 5: 'nikhil'}

In [19]:
dit.copy()

{1: 'aditi', 2: 'tanisha', 3: 'priya', 5: 'nikhil'}

In [21]:
dit[5]

'nikhil'

In [23]:
dit.clear()

In [24]:
dit

{}

# sets

In [25]:
sets={12,23,48,90,90,100}

In [26]:
sets

{12, 23, 48, 90, 100}

In [27]:
sets.add(1)

In [28]:
sets

{1, 12, 23, 48, 90, 100}

In [29]:
b={12,23}
sets.issubset(b)

False

In [30]:
sets.isdisjoint(b)

False

In [31]:
sets.intersection(b)

{12, 23}

In [35]:
sets.difference()

{1, 12, 23, 48, 90}

In [33]:
sets.discard(100)

In [34]:
sets

{1, 12, 23, 48, 90}

# tuple

In [36]:
tup=('aditi',40,9.50,100,'niku')

In [37]:
tup

('aditi', 40, 9.5, 100, 'niku')

In [38]:
tup.count(100)

1

In [39]:
tup.index('niku')

4

In [41]:
tup[3]

100

In [42]:
tup[2:]

(9.5, 100, 'niku')

In [43]:
tup[-5]

'aditi'

# string

In [44]:
a='happy'

In [45]:
a

'happy'

In [46]:
a[4]

'y'

In [47]:
b='birthday'

In [48]:
c=a+b

In [49]:
c

'happybirthday'

In [50]:
c[5:]

'birthday'

In [51]:
c[-3:]

'day'

In [59]:
d = 2*'to you'

In [60]:
d

'to youto you'